# Clang-Format configuration file for automatically formatting source code
---
Language: JavaScript
IndentWidth: 2
TabWidth: 2
ColumnLimit: 100
SpacesInContainerLiterals: false
BreakBeforeBinaryOperators: NonAssignment
JavaScriptQuotes: Double
JavaScriptWrapImports: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
...
